<div class="container mt-5">
    <h1 class="fw-bold bg-light text-dark d-flex justify-content-center">Welcome To our Places</h1>
    <hr>
    <div class="container">
        <div class="row">


            {{#each places}}
            <div class="card" style="width: 18rem;">
                {{!-- <img class="card-img-top" src="{{profileImg}}" alt="Card image cap"> --}}
                <div class="card-body">
                    <h3 class="card-title">{{name}}</h3>
                    <h4 class="card-title">Type: {{type}}</h4>
                </div>
                <div class="row">
                    {{!-- <a href="XXXXX" class="btn btn-dark">Check Details</a> --}}
                    <a href="/places/edit/{{id}}" class="btn btn-dark">Edit Place</a>
                    <form action="places/delete/{{id}}" method="POST">
                        <input type="submit" value="Delete Place" class="btn btn-danger">
                    </form>

                </div>

            </div>

            {{/each}}


        </div>